<!DOCTYPE html>
<html>
<head>
  <title>BC</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id='app'>
        <input type='text' v-model="inputValue"></input>
        <button @click="ttt">submit</button>
        <ul>
        	<li v-for="item in list">{{item}}</li>
        </ul>
        <p>{{inputValue}}</p>
    </div>
	
	<script>
		var app = new Vue({
              el: '#app',
              data: {
                   txt: "Hello World222",
                   inputValue: '',
                   list: ['a', 'b']
              },
              methods: {
              	ttt: function() {
              	     this.list.push(this.inputValue)
                       this.inputValue = ''
              	    // alert('haha')
                  }
              }
        })
	</script>
</html>